apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios-ddo5
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-gyqb-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios-ddo5@sha256:e62ca2dd67d2d9293297a7069fc1724f0c3cce4184531ddaf23bd9dcc4590e8c
        name: my-python
        resources: {}
status: {}
