apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-od7a
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-gyqb-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-od7a@sha256:11bca19035ca94cc3cc6728514fcc2721821267dd02749ff55f8dde21b2535e5
        name: my-nodejs
        resources: {}
status: {}
