apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-go-rhtap-three-component-scenarios-peeo
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-gyqb-tenant/mc-three-scenarios/devfile-go-rhtap-three-component-scenarios-peeo@sha256:fb1da6b16439f3e14a8812aa8bbe23e423ef1d95d5efa309ba9608c512c41a5b
        name: my-go
        resources: {}
status: {}
